.coinContainer {
  display: flex;
  flex-wrap: wrap;
}

.coinItem {
  width: 50px;
  height: 50px;
  margin: 5px;
}

.coinButtonText {
  display: block;
  white-space: normal;
  line-height: 1.2;
}


body { margin: 0; padding: 0; background: #000; color: #fff; font-family: sans-serif; }

.flexContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  height: 120px;
  overflow: auto;
  flex-direction: row;
}

.flexContainer div {
  width: 150px;
  height: 50px;
  margin: 5px;
}

.payButton {
  display: block;
  width: 100%;
  height: 35px;
  font-size: 20px;
  background-color: #fff;
  color: #333;
  text-align: center;
  line-height: 15px;
  text-transform: uppercase;
  font-weight: bold;
}
